parameters:
    ignoreErrors:
        -
            message: "#^While loop condition is always true\\.$#"
            count: 1
            path: src/Commands/Ping.php

        -
            message: "#^Property Qruto\\\\LaravelWave\\\\PresenceChannelUsersRepository\\:\\:\\$db.+does not accept Illuminate\\\\Redis\\\\Connections\\\\Connection\\.$#"
            count: 1
            path: src/PresenceChannelUsersRepository.php
