parameters:
	ignoreErrors:
		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: src/Console/Commands/SsePingCommand.php

		-
			message: "#^Property Qruto\\\\Wave\\\\Storage\\\\BroadcastEventHistoryRedisStream\\:\\:\\$db \\(Illuminate\\\\Redis\\\\Connections\\\\PhpRedisConnection\\|Illuminate\\\\Redis\\\\Connections\\\\PredisConnection\\) does not accept Illuminate\\\\Redis\\\\Connections\\\\Connection\\.$#"
			count: 1
			path: src/Storage/BroadcastEventHistoryRedisStream.php

		-
			message: "#^Property Qruto\\\\Wave\\\\Storage\\\\PresenceChannelUsersRedisRepository\\:\\:\\$db \\(Illuminate\\\\Redis\\\\Connections\\\\PhpRedisConnection\\|Illuminate\\\\Redis\\\\Connections\\\\PredisConnection\\) does not accept Illuminate\\\\Redis\\\\Connections\\\\Connection\\.$#"
			count: 1
			path: src/Storage/PresenceChannelUsersRedisRepository.php
